.fave-song-body{
    .categories {
        margin: auto;
        max-width: 425px;
        display: flex;
        justify-content: space-between;
    }
    .fave-song-panel{
        margin: auto;
        width: 90%;
        
    }
}