.song-body {
    
    width: 100%;
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title-artist-time {
        
        display: flex;
        justify-content: space-between;
        .title-artist{
            width: 60%;
            max-width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
    .buttons {
        text-align: left;
        margin-left: 5%;
    }   
}